@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
    --first-color: #1F1F1F;
    --second-color: #131313;
    --circle: #1C1C1C;
    --first-color-contrast: white;
    --color-header: #7462E0;
    --leter-first-color: white;
    --leter-second-color: black;
    --tipografia-principal: 'Roboto', sans-serif;
    ;
}


/*Medidas generales*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

body {
    font-family: var(--tipografia-principal);
    color: var(--leter-first-color);
    overflow: overlay;
    overflow-x: hidden;
    min-width: 360px;
    background-color: var(--first-color);
}


/*css de los botones de la web*/

button {
    margin: 1rem;
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}

button:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
}

button:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*Todo el contenido de la web se encuentra dentro de este div*/

#app {
    min-width: 100vw;
    min-height: 100vh;
}

#app>section:nth-child(even) {
    background-color: var(--second-color);
}


/*css de todas las secciones*/

.sections {
    min-height: 100vh;
    width: 100%;
    padding: 140px 1em 0px 1em;
}


/*Tamaño de los titulos*/

h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}


/*Barra de navegacion*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}


/*Aqui empieza el css del header*/

header {
    min-height: 100px;
    z-index: 2;
    color: var(--color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    padding: 1em 2em;
    text-transform: uppercase;
}

header.sticky {
    padding: 5px 2em;
    background-color: var(--color-header);
}

#menu {
    display: none;
}

header>h1 {
    font-weight: 900;
    letter-spacing: 20px;
}

.nav-link {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link>li {
    list-style: none;
}

.nav-link>li:hover {
    color: var(--second-color);
}

.nav-link>li>a {
    text-decoration: none;
    margin: 0 .5rem;
    color: var(--color);
    font-weight: 500;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}


/*Aqui empiezo a estilizar el banner*/

#section1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 10rem;
    position: relative;
}

#information {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

#information h2 {
    background-color: rgba(255, 255, 255, 0.301);
    letter-spacing: 5px;
    text-transform: uppercase;
}

#information p {
    font-style: italic;
    font-size: 1.25rem;
}

#information span {
    font-size: 1.25rem;
    display: block;
    white-space: nowrap;
    border-color: 4px solid;
    width: 19ch;
    animation: typing 3s steps(19), blink .5s infinite step-end alternate;
    -webkit-animation: typing 3s steps(19), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.rrss i {
    color: white;
    width: 3rem;
    font-size: 2rem;
}

.rrss i:hover {
    color: var(--color-header);
}

#user-logo {
    height: 40%;
}

#circle-banner {
    position: absolute;
    z-index: -1;
    bottom: -50%;
    width: 100%;
    height: 100%;
    background-color: var(--circle);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/*Seccion sobre mi*/

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
}

#about h3 {
    width: 100%;
    margin: 1em 0;
}

#dates {
    text-align: center;
}

#dates p {
    font-size: 1.25rem;
    line-height: 2rem;
}

#hobbies {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.hobbies-icons img {
    width: 125px;
    height: 125px;
    margin: 2px;
}

.hobbies-icons img:hover {
    opacity: .5;
}


/*Seccion para los estudios*/

#studies {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#studies>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 1rem;
    flex-wrap: wrap;
    margin: 2rem 0;
}

#studies h4 {
    width: 100%;
    text-align: center;
}

#places,
#qualification {
    width: 100%;
}

#places,
#qualification {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#places>div {
    margin: 1rem;
}

#places span {
    color: var(--color-header);
    font-size: 1.25rem;
}

#places p {
    display: inline-block;
    font-size: 1.25rem;
}

#mh {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    padding-top: 1rem;
}

#mh div {
    display: flex;
    align-items: center;
    text-align: center;
    padding: .25rem;
    border: 1px solid var(--first-color-contrast);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--second-color);
    width: 150px;
    height: 100px;
}

#mh div:hover {
    opacity: .5;
}

#mh div p {
    width: 100%;
}


/*Aqui empieza el estilo de la seccion de habilidades*/

#habilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    columns: 2rem;
}

.grups {
    border: 1px solid var(--first-color-contrast);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 90%;
    margin: 1rem 0;
    max-width: 400px;
    padding: 1em 0;
}

.grups img {
    width: 150px;
    height: 150px;
}

.grups img:hover {
    animation: shake 300ms linear;
    -webkit-animation: shake 300ms linear;
}


/*animaicon para iconos de las habilidades*/

@keyframes shake {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
    }
}

#habilities li {
    list-style: none;
    margin: 1rem;
    font-size: 1.25rem;
}

#habilities h3 {
    margin-bottom: 1rem;
}


/*Para la seccion de contacto*/

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

form {
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    width: 90%;
    max-width: 30rem;
    border: 1px dashed var(--first-color-contrast);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

form>p {
    width: 90%;
    text-align: left;
    margin-left: auto;
}

input {
    font-size: 1.25rem;
    width: 80%;
    color: var(--first-color-contrast);
    outline: none;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid var(--first-color-contrast);
    padding-top: 10px;
    margin-bottom: 1rem;
    transition: 0.4s border;
}

textarea {
    width: 80%;
    resize: vertical;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--first-color-contrast);
    min-height: 60px;
    max-height: 300px;
    color: var(--first-color-contrast);
}

input:focus,
input:hover,
textarea:hover,
textarea:focus {
    border: 1px dashed var(--first-color-contrast);
}


/*Media queries*/

@media all and (max-width: 850px) {
    /*Para que el logo aparezca cuando se abre nav*/
    header>h1 {
        position: relative;
        z-index: 2;
    }
    #menu {
        display: inline-block;
        position: relative;
        z-index: 2;
    }
    .nav-link {
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 80px;
        background-color: var(--color-header);
        height: 100%;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 100% -15%);
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
    }
    .nav-link.open {
        clip-path: circle(1500px at 100% -15%);
    }
}

@media all and (min-width: 850px) {
    /*para la seccion de habilidades*/
    #habilities {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 3rem;
    }
    #habilities>h3 {
        width: 100%;
    }
    /*.grups {
      width: 40%;
    }*/
    /*para la seccion de about*/
    #dates {
        width: 45%;
    }
    #hobbies {
        width: 50%;
    }
    /*para la seccion de estudios*/
    #studies>div {
        flex-direction: row;
    }
    #places,
    #qualification {
        width: 45%;
    }
}

@media (prefers-color-scheme: light) {
     :root {
        --first-color: white;
        --second-color: #EEE;
        --circle: #ccc;
        --first-color-contrast: black;
        --leter-first-color: black;
        --leter-second-color: white;
        --tipografia-principal: 'Raleway', sans-serif;
    }
}